@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* Shared Styles */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /* max-width: 1440px;
    margin: 0 auto; */
}

main > section {
    padding-top: 130px;
}

.hover{

    cursor: pointer;

}
/* Full Width */
.banner, .navbar, main{

    max-width: 1440px;
    margin: 0 auto;


}

.flex-display{

    display: flex;
}

/* Main Background color */
.bg-main {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Dark */

.text-dark{

    color: #131313; 
}

/* Dark 02 */

.text-dark-02 {
  color: #424242;
}

/* Dark 03 */

.text-dark-03 {
  color: #727272;
}

.primary-button {
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}


.feature-header{

    font-size: 3rem;
    /* line-height: 4.5rem; */
    font-weight: 700;
    margin-bottom: 24px;

}




/* Header Styles */





/* Navbar Styles */

.navbar{
    /* padding-top: 20px; */
    justify-content: space-between;
    align-items: center;     
}

.brand{
    font-size: 2.75rem;
    font-weight: 700;

}

.nav-links{

    gap: 30px;

}
.nav-item{
    
    list-style: none;
    

}
.nav-l{
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    
}


/* Banner Styles */

.banner-content{
    width: 80%;
    max-width: 865px;
    margin: 0 auto 50px;
    text-align: center;
    
}

.banner-header{
    font-size: 4rem;
    /* line-height: 4.5rem; */
    font-weight: 700;
    margin-bottom: 20px;

}

.banner-p{
    
    line-height: 1.5rem;

}

.banner-img{
    width: 100%;


}

/* Teams Section 2nd Section */
.teams{
    align-items: center;
    gap: 70px;

}
.team-img{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-contents{
    max-width: 530px;
}
.team-title{

    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
#Quick-list{
    font-weight: 500;
}
#Features{

    color: #FF900E;

}
.team-p{

    line-height: 1.5rem;

    margin-bottom: 32px;
}





/* Some Facts */
.title-facts{
    max-width: 542px;
    margin-bottom: 100px;

}

.fact-container{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;

    gap: 120px;
    margin: 0 auto;
    
}
.facts{

    text-align: center;
    padding: 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;


}


/* <!-- Features Section --> */

.features{

    gap: 54px;

}
.feautures-container{

    max-width: 586px;

}

.featue-header{

    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.featured-card{
    max-width: 514px;
    padding: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 0px rgba(109, 105, 105, 0.1);
    margin-bottom: 20px;
    line-height: 1.6rem;

}

.featured-card-title{

    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;

}

.feature-card-text{

    line-height: 1.6rem;

}

.img-tag{

    font-size: 4rem;
    font-weight: 700;

}
.img-tag-2{

    font-size: 1.5rem;
    font-weight: 500;
}

.feauture-button{

    background-color: #FF900E;
    padding: 2.8rem;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    margin-left: -5.75rem;
    margin-top: -7.1rem;
}



/* Sponsor section styles */

.content-container{
    max-width: 542px;
    margin: 0 auto;
    text-align: center;

}
.icon-container{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
   

}
.icon-container img{

    filter: grayscale(100%);

}


/* Footer Styles */ 

footer{

    background-color: #FFF4E7;
    text-align: center;
    margin-bottom: 13.5rem;
    margin-top: 13.5rem;


}
footer p{
    
    margin: 38px 0;
    font-size: 1.2rem;
}



/* Navbar and Banner mobile */

@media screen and (max-width: 576px) {

    /* main > section {
        padding-top: 80px;
    } */

    .flex-display{

        flex-direction: column;
    }

    /* Second Section / Teams  */
    .teams{
        gap: 25px;
    }
    .team-img{

        grid-template-columns: repeat(1,1fr);

    }
    .team-contents{
        text-align: center;
    }

    /* Third Section / Features Section */
    .features-architect img{

        width: 100%;
    }
    .feauture-button{

        margin-left: auto;
        margin-top: -4rem;

    }



    /* Facts Section */
    .Some-fact{

        margin: 0 10px;
    }

    .fact-container{
    
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        
        
    }
    /* Sponsor Section */
    .icon-container{

        grid-template-columns: repeat(1, 1fr);
        place-items: center; 
        gap: 40px;
    }


}




/* Main Styles */