@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* Shared Styles */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /* max-width: 1440px;
    margin: 0 auto; */
}

.hover{

    cursor: pointer;

}
/* Full Width */
.banner, .navbar{

    max-width: 1440px;
    margin: 0 auto;


}

.flex-display{

    display: flex;
}

/* Main Background color */
.bg-main {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Dark */

.text-dark{

    color: #131313; 
}

/* Dark 02 */

.text-dark-02 {
  color: #424242;
}

/* Dark 03 */

.text-dark-03 {
  color: #727272;
}

.primary-button {
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
}




/* Header Styles */





/* Navbar Styles */

.navbar{
    /* padding-top: 20px; */
    justify-content: space-between;
    align-items: center;     
}

.brand{
    font-size: 2.75rem;
    font-weight: 700;

}

.nav-links{

    gap: 30px;

}
.nav-item{
    
    list-style: none;
    

}
.nav-l{
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    
}


/* Banner Styles */

.banner-content{
    width: 80%;
    max-width: 865px;
    margin: 0 auto 50px;
    text-align: center;
    
}

.banner-header{
    font-size: 4rem;
    /* line-height: 4.5rem; */
    font-weight: 700;
    margin-bottom: 20px;

}

.banner-p{
    
    line-height: 1.5rem;

}

.banner-img{
    width: 100%;


}



/* Navbar and Banner mobile */

@media screen and (max-width: 576px) {

    .flex-display{

        flex-direction: column;
    }

}




/* Main Styles */